.buscador {
    background-image: url("./perro_home.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
} 

.tituloBuscador { 
    font-weight:bold; 
    font-size: 30px; 
    color: #49b9d5; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px #414D68, 5px 5px #414D68;
}

.botonBuscar {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #49b9d5 5%, #49b9d5 100%);
	background-color:#49b9d5;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 2px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.filtros {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.filtroTemperatura {
    padding-right: 15px;
}

.tituloFilter {
    font-weight:bold; 
    font-size: 25px; 
    color: #49b9d5; 
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px
}

.orden {
    padding-right: 15px;
}

.ordenTitulo {
    font-weight:bold; 
    font-size: 25px; 
    color: #49b9d5;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px
}

.pesoTitulo {
    font-weight:bold; 
    font-size: 25px; 
    color: #49b9d5;
    text-shadow: -1px 0 #414D68, 0 1px #414D68, 1px 0 #414D68, 0 -1px #414D68, -2px 2px 0 #414D68, 2px 2px 0 #414D68, 1px 1px #414D68, 2px 2px #414D68, 3px 3px #414D68, 4px 4px

}

