.contenedor {
    background-image: url("./perro_formulario.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    min-height: 100vh;
}

.formulario {
    width: 750px;
    height: 500px;
    position: relative;
    top: 50px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.division {
    display: flex;
    height: 300px;
}

.informacion {
    position: static;
    width: 517px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: left;
    padding-left: 30px;
}

.temperamento {
    padding-right: 30px;
}
