.paginaBoton {
    box-shadow: 0px 1px 0px 0px #f0f7fa;
	background:linear-gradient(to bottom, #49b9d5 5%, #49b9d5 100%);
	background-color:#49b9d5;
	border-radius:6px;
	border:1px solid #057fd0;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding: 2px 10px;
	text-decoration:none;
	text-shadow:0px -1px 0px #5b6178;
}

.paginaBoton:hover {
	background:linear-gradient(to bottom, #3fa2bb 5%, #33bdef 100%);
	background-color:#3fa2bb;
}
.paginaBoton:active {
	position:relative;
	top:1px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}

.card-link {
    text-decoration: none;
    color: black;
}