.container {
    display: flex;
    text-decoration: none;
}

.lista {
    padding: 10px;
    display: flex;
    list-style: none;
    font-size: 20px;
}

.elemento {
    text-decoration: none;
    padding: 5px;
    border: 1px;
    border-radius: 30px;
    border-style: solid;
    color: black;
}

.elemento:hover {
    transition: 0.5s;
    background-color: black;
    color: white;
}


